.ocean {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.waterContainer {
  width: 100%;
  fill: none;
  height: 100%;
}

.waves {
  fill: linear-gradient(#0B4A72,#0aa5a0);
}

/* #waterGradient {
  x1: 0%;
  y1: 0%;


} */